/* Media Queries */

@media (min-width: 1921px) {
  #circle1 {
    top: 15%;
    left: 45%;
  }
  #circle2 {
    top: 25%;
    left: 60%;
  }
  #circle3 {
    top: 45%;
    left: 50%;
  }
  #circle4 {
    top: 65%;
    left: 45%;
  }
  #circle5 {
    top: 90%;
    left: 60%;
  }
}
@media (max-width: 1024px) {
  .toolset-container,
  .head-narrow,
  #project-container,
  #form-container {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .design-box {
    min-width: 200px;
    margin: auto;
  }
  .about {
    margin-bottom: 5px;
  }
  .toolset-container {
    min-width: 320px;
    grid-template-columns: repeat(auto-fit, 100%);
  }
  .profile,
  .section-title,
  #skills-box {
    width: 80%;
  }
  #skills-box {
    display: flex;
    justify-content: center;
  }
  #contact-title {
    width: 100%;
  }
  .profile img {
    float: none;
    margin-bottom: 10px;
  }
}
@media (max-width: 669px) {
  #project-container {
    height: auto;
    min-width: 201px;
    overflow-x: hidden;
    -ms-overflow-style: none;
  }
  #project-container::-webkit-scrollbar {
    display: none;
  }
  .toolset-container {
    text-align: center;
  }
  #logo h1 {
    display: none;
  }
  form {
    width: 280px;
  }
}
@media (max-width: 560px) {
  #skills-barometer {
    margin-bottom: 20px;
  }
  #skills-box {
    margin-top: 0px;
  }
  .skill-box {
    margin-right: 10px;
    margin-left: 10px;
  }
  .section-title {
    transform: scale(0.8);
  }
  #about-me {
    margin: 10px 0px;
  }
}
@media (max-width: 415px) {
  header {
    margin-top: 0px;
  }
  .head-narrow {
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
  }
  #logo img:hover ~ h1 {
    display: block;
  }
  #burger-box {
    display: block;
    margin-bottom: 10px;
  }
  #top-nav {
    display: none;
    margin: 0;
    padding: 0;
  }
  #vertical-nav {
    position: relative;
    width: 100%;
    background: var(primary, black);
    border-bottom: solid 1px rgb(175, 183, 187);
    text-align: center;
  }
  .nav-list {
    overflow: visible;
  }
  .nav-list a {
    color: #000;
    overflow: hidden;
    font-size: 18px;
  }
  ul {
    display: block;
    font: 1.5em bold;
    padding: 0 0 15px 0;
    align-items: flex-end;
    transform: translateX(300px);
    width: 100%;
    height: auto;
  }
  @keyframes navEaseIn {
    to {
      transform: translateX(-300px);
    }
  }
  @keyframes navEaseOut {
    from {
      transform: translateX(-300px);
    }
    to {
      transform: translateX(300px);
    }
  }
  ul li {
    padding-top: 10px;
  }
  ul li a {
    padding: 0;
  }
  #contact,
  .toolset-container,
  #form-container {
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    backdrop-filter: blur(20px);
  }
  #project-container{
    width: 100%;
  }
  .toolset-container {
    padding: 1px;
  }
  .section-title {
    margin: 0px;
    transform: scale(0.7);
  }
  #skills-box {
    justify-content: center;
  }
  #logo {
    margin-left: 10px;
  }
  #about-me {
    font-size: 18px;
  }
  #form-container {
    width: 100%;
    padding: 0px;
    justify-content: flex-start;
    box-shadow: none;
  }
  form {
    width: 80%;
    font-size: 18px;
  }
}
