/* Skills */

.profile-container {
  position: relative;
  color: white;
}
.about {
  margin: auto;
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.toolset-container {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  padding: 10px;
}
.profile {
  height: auto;
  width: 340px;
  margin-right: 20px;
  padding: 5px 20px 20px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px white;
  border-radius: 5px;
  text-align: left;
}
#profile-picture {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}
.profile-title {
  font-size: 20px;
  text-align: center;
}
#about-me {
  text-align: left;
  font-size: 18px;
}
.skills-box {
  height: auto;
  width: 340px;
  padding: 5px 10px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px white;
  border-radius: 5px;
}
.skills-head {
  margin-bottom: 20px;
}
.skills-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container {
  text-align: left;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}
#skills-titles {
  width: 130px;
  height: auto;
}
#skills-titles span {
  text-align: left;
}
#skills-progress {
  width: 180px;
  height: auto;
}
#skills-progress span{
  position: relative;
  top: -2px;
}
.progress-container {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  background: white;
  border: solid rgb(175, 175, 175) 1px;
  overflow: hidden;
  border-radius: 50px;
}
.moods-progress-bar {
  position: relative;
  width: 90%;
  background: rgb(95, 95, 95);
}
.moods-progress-bar span {
  margin-left: 75px;
  font-size: 16px;
}
#js-progress,
#sql-progress,
#react-progress {
  position: relative;
  width: 85%;
  background: rgb(95, 95, 95);
}
#vue-progress{
  position: relative;
  width: 80%;
  background: rgb(95, 95, 95);
}
#node-progress {
  position: relative;
  width: 75%;
  background: rgb(95, 95, 95);
}
