/* Skills */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.profile-container {
  position: relative;
  color: white;
  width: 100%;
  padding-top: 2px;
}
.about {
  margin: auto;
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.toolset-container {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  height: auto;
  background: var(--glass,rgba(255,255,255,0.2));
  backdrop-filter: blur(10px);
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow: var(--shadow);
  padding: 30px 30px 10px 30px;;

}
.profile {
  height: auto;
  width: 100%;
  text-align: left;
}
#profile-picture {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}
.section-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
#about-me {
  text-align: left;
  font-size: 18px;
  color: #FFF;
  margin: 25px 0px;
}
#skills-box {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  border: 1px transparent solid;
  margin-top: 25px;
}
.skill-box{
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 20px 0px;
}
.skill-box img{
  width: 60px;
  height:  60px;
  margin-bottom: 10px;
}
.skill-box p{
  margin-bottom: 7px;
}
.progress-container {
  width: 130px;
  height: 20px;
  margin-bottom: 10px;
  background: white;
  border: solid rgb(175, 175, 175) 1px;
  overflow: hidden;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
}
.moods-progress-bar span{
  position: relative;
  color: #FFF;
  font-family: 'Times New Roman', Times, serif;
  top: -1px;
  left: 10%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
#html-progress {
  width: 90%;
  background: rgb(228, 79, 38);
}
#css-progress {
  width: 90%;
  background: rgb(21, 114, 182);
}
#js-progress{
  width: 85%;
  background: rgb(204, 174, 3);
}
#sql-progress{
  width: 85%;
  background: rgb(4, 120, 133);
}
#react-progress {
  width: 85%;
  background: rgb(4, 183, 214);
}
#vue-progress {
  width: 80%;
  background: rgb(66, 184, 131);
}
#node-progress {
  width: 75%;
  background: rgb(95, 95, 95);
}
