@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
:root {
  --primary: #000;
  --shadow: 0px 0px 5px lightgray;
  --glass: rgba(255, 255, 255, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #fff;
  font-family: "Vollkorn", serif;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  min-width: 340px;
  margin: auto;
  padding: 0px;
  margin: 0px;
  background: url("/images/black-squares.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
.main-container {
  width: 100%;
  margin: auto;
  min-height: calc(100vh - 65px);
  overflow-x: hidden;
}
/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  top: 0;
  height: 80px;
  min-width: 320px;
  opacity: 0;
  z-index: 10;
  animation: headerFade 1.5s 3.5s forwards;
}
.head-narrow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 55%;
}
#logo {
  display: flex;
  align-items: center;
  font-size: 10px;
}
#logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
ul {
  display: flex;
  list-style-type: none;
  height: 30px;
  position: relative;
}
ul a {
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  margin-left: 10px;
  border-bottom: 2px solid transparent;
  transition: 250ms ease;
}
ul a:hover {
  border-bottom: 2px solid red;
}
#burger-box {
  width: 20px;
  height: 16px;
  cursor: pointer;
  margin-right: 5%;
  overflow: hidden;
  transition: all 1s ease-in;
}
/* Slows the animation when triggered */
#burger-box img {
  width: 100%;
  height: 100%;
  margin-right: 20px;
}
.d-none {
  display: none;
}
/* Contact */
label {
  display: none;
}
#contact {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 2px;
}
#form-container {
  width: 55%;
  margin: auto;
  margin-bottom: 40px;
  padding: 30px;
  background: var(--glass, rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: var(--shadow);
}
form {
  width: 320px;
  margin: auto;
  margin-top: 25px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: var(--shadow);
  justify-content: flex-start;
  background: #fff;
  font-size: 20px;
}
form input {
  width: 100%;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid lightgray;
  outline-style: none;
  background: none;
  padding-left: 10px;
  color: #000;
  font-size: 18px;
}
#message {
  width: 100%;
  margin-top: 20px;
  padding: 0 10px;
  outline-style: none;
  border: none;
  font-size: 18px;
}
#submit-btn {
  width: 100%;
  margin: 10px 0px;
  padding: 10px 0;
  font-size: 1.1em;
  background: black;
  color: #fff;
  border: none;
  outline-style: none;
  cursor: pointer;
}
#submit-btn:hover {
  background: #111;
}

/* Footer */

footer {
  width: 100%;
  padding: 20px;
  height: 65px;
  background: #000;
  text-align: center;
}
footer p {
  color: #fff;
}
