@import "../../assets/scss/Main.scss";

.footer-main{
    width: 100%;
    height: auto;
    min-height: 100px;
    @include flex-mutable($direction: column);
    background: rgba(17, 152, 248, 0.5);
    color: #FFF;  
}
.footer-links{
    margin-top: 10px;
    @include flex-mutable;
    img{
        width: 25px;
        height: 25px;
    }
}